* {
  margin: 0;
  padding: 0;
  list-style: none; }

html, body {
  width: 100%;
  height: 100%; }

.wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: url("../images/five.jpg") no-repeat;
  display: flex;
  flex-direction: column; }
  .wrapper header {
    padding: 0 12px;
    height: 44px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff; }
    .wrapper header span {
      margin-left: 6px; }
  .wrapper section {
    flex: 1;
    width: 100%;
    display: flex; }
    .wrapper section .section-left {
      margin-top: 500px;
      line-height: 34px;
      margin-left: 12px; }
  .wrapper footer {
    height: 44px;
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid #fff; }
    .wrapper footer li {
      flex: 1;
      display: flex;
      justify-content: center;
      color: #fff; }
